<p id="notice"><%= notice %></p>

<h1>Galleries</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Title</th>
      <th scope="col">Category</th>
      <th scope="col">Image Preview</th>
      <th scope="col">Paid or free</th>
      <th colspan="2">Control Options</th>
    </tr>
  </thead>

  <tbody>
    <% @galleries.each do |gallery| %>
      <tr>
        <td><%= gallery.image_title %></td>
        <td><%= gallery.category %></td>
        <td><%= image_tag gallery.image_url.to_s, style: 'height:auto;width:900px;' %></td>
        <% if gallery.item_for_sale %>
          <td> Paid </td>
        <% else %>
          <td> Free </td>
        <% end %>
        <td><%= link_to 'Edit', edit_gallery_path(gallery) %></td>
        <td><%= link_to 'Destroy', gallery, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Gallery', new_gallery_path %>
